<div id="Error">
    <div class="container container-padding">
        <div class="row">
            <img src="/images/illustration.svg" alt="">
        </div>
        <div class="row">
            <h1>
                Looks Like Here
                Is Nothing
            </h1>
            <p>Don’t be fret. We are here.</p>
        </div>
    </div>
</div>